/* 
#8a2be2 blueviolet
#556b2f darkolivegreen
#a0ebcf
#014871
 */
 @import url('https://rodcordeiro.github.io/shares/fonts/sketch-gothic-school/font.css');
 @import url('https://rodcordeiro.github.io/shares/fonts/Square721BT-Roman/font.css');
 :root{
     --cor: #a0ebcf;
 }
 *{
     padding: 0;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
 }
 body{
     background-color: #181818;
 }
 .container{
     display: flex;
     flex:1;
     flex-direction: column;
 }
 header{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-content: center;
     height: 100px;
     /* border:2px solid; */
     width: 100%;
     background-color: var(--cor);
 }
 header span {
     font-family: 'Sketch Gothic School';
     font-size: 400%;
     line-height: 30pt;
     align-self: center;
     font-weight: lighter;
 }
 header img{
     height: 90%;
     width: auto;
     padding: 5px;
     
 }
 .maincontent{
     display: flex;
     flex-direction: column;
     min-height: calc(100vh - 100px);
 }
 

@media  screen and (max-width: 768px) {
    .maincontentcontent{
        color: #f4f4f4;
        width: 100%;
        min-height: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, .4);
        flex-direction: column;
    }    
    table{
        border: 1px solid wheat;
        width: 100%;
        margin: 10px auto;
    }
}