.container{
    display: flex;
    flex: 1;
    min-height: 100vh;
    width: 100%;
    background-color:#191919;
    /* background-image: url(https://images.unsplash.com/photo-1529465230221-a0d10e46fcbb);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box; */
}
.content{
    color: #f4f4f4;
    width: 90%;
    min-height: 85%;
    margin: 3% auto;
    background-color: #000000b3;
    border-radius: 5px;
    flex-direction: column;
}
header{
    height: 20%;
    max-height: 120px;
    display: flex;
    padding: 15px 35px;
}
header img {
    height: 100%;
}
header h1{
    position: relative;
    top: 30%;
    margin-left: 10%;
}
hr{
    width: 95%;
    margin: auto;
    border-color: #f4f4f493;
}

table,tr{
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid #f4f4f493;
}
table{
    border: 1px solid wheat;
    width: 90%;
    margin: 10px auto;
}
th,td{
    width: calc(60% / 4);
    text-align: center;
    padding: 5px;
}
th{
    font-size: larger;
    padding: 10px;
}
th:nth-child(2){
    width: 40%;
}
td:nth-child(2){
    width: 40%;
    text-align: left;
    text-indent: 4%;
}

@media  screen and (max-width: 768px) {
    .content{
        color: #f4f4f4;
        width: 100%;
        min-height: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, .4);
        flex-direction: column;
    }    
    table{
        border: 1px solid wheat;
        width: 100%;
        margin: 10px auto;
    }
}